<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="dicoding:email" content="hfis15@yahoo.co.id">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CafeKu</title>
    <meta name="description" content="Cafeku tempat menemukan berbagai macam cafe.">
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
      <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <section class="navbar">
      <a class="logo" href="#">CafeKu</a>
      <div class="navbar__link-toggle">
          <a href="#" id="menu" class="header__menu" aria-label="navigation-menu">☰</a>
      </div>
        
      </div>
      <nav id="drawer" class="navbar__items navbar__items--right">
        <ul class="nav__list">
          <li class="navbar__link"><a href="/">Home</a></li>
          <li class="navbar__link"><a href="#">Favorite</a></li>
          <li class="navbar__link"><a href="https://www.dicoding.com/users/hamaar">About Us</a></li>
        </ul>
      </nav>
    </section>

    <section class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">
          Seru-seruan Bareng Temen di Cafe
        </h1>
        <p class="hero__tagline">
          Berkumpul bareng temen di cafe membuat tambah seru.
        </p>
      </div>
    </section>
      <main id="maincontent">
        <section class="content">
            <div class="explore">
                <h1 class="explore__label">Explore Cafe</h1>
            <div class="posts" id="post">
                
            </div>
        </section>
    </main>
    <footer>
      <a>Copyright © 2021 - CafeKu</a>
    </footer>
  </body>
</html>
